<section id="hero" style="background: linear-gradient(-26deg, rgb(42,17,197) 1%, rgb(9,248,19) 99%);">
    <nav class="navbar navbar-light navbar-expand-md">
        
        <div class="container-fluid"><a class="navbar-brand text-light" href="#" style="font-size: 30px;"><strong>BeFoot</strong></a> 
               
            
            
            
        <button class="btn btn-primary text-left reserve-button" id="btn0" type="button" style="background: rgba(34,193,41,0);border-color: rgb(255,255,255);border: 3px solid #fff;border-radius: 30px;margin-top: 30px;"><strong>Ajouter un terrain</strong></button><button class="navbar-toggler" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
    </nav>
</section>