<section id="hero">
  <h1 class="text-center" id="titre">FOOTBALL</h1>
  <h1 class="text-center" id="titre2">
    <br /><strong
      >Trouvez et réservez les meilleurs clubs près de chez vous</strong
    ><br /><button
      class="btn btn-primary reserve-button"
      type="button"
      style="
        background: rgba(34, 193, 41, 0);
        border-color: rgb(255, 255, 255);
        border: 3px solid #fff;
        border-radius: 30px;
        margin-top: 30px;
        margin-right: 10px;
      "
      routerLink="/choisir_terrain"
    >
      <strong> Explorer </strong>
    </button>

    <button
      class="btn btn-primary text-left reserve-button"
      id="btn0"
      type="button"
      style="
        background: rgba(34, 193, 41, 0);
        border-color: rgb(255, 255, 255);
        border: 3px solid #fff;
        border-radius: 30px;
        margin-top: 30px;
      "
      routerLink="/ajout-bdd"
    >
      <strong>Ajouter un terrain</strong>
    </button>

    <br />
  </h1>
</section>
