body {
    background: #000000;
    color: rgb(255,255,255);
  }
  
  #hero {
    width: 100%;
    height: 100vh;
    /* background: url("image.jpg") center / cover no-repeat, url("https://cdn.boot/strapstudio.io/placeholders/1400x800.png"); */
    color: #ffffff;
  }
  
  #titre {
    font-size: 4em;
    text-align: left;
  }
  
  #titre {
    margin-top: 90px;
  }
  
  #titre2 {
    font-size: 30px;
    margin-top: 10px;
  }
 
  